.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  border: 2px solid black;
  border-radius: 5px;
  height: 35px;
  width: 200px;
  padding: 8px;
  margin-right: 20px;
}

#select {
  height: 51px;
  width: fit-content;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.cards-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  margin-top: 30px;
  font-family: 'Anton', sans-serif;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 250px;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.title {
  margin: 25px;
  font-size: 35px;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
}

.pokemon-img {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 20px;
  background-color: #e3e3e3;
}

.name {
  font-weight: bold;
}

